#my-editable-table tr td:nth-child(3) {
  min-width: 90px;
  color: #001f3f;
}

#my-editable-table tr td {
  padding: 2px;
}

#my-editable-table .ant-tag {
  text-align: center;
  min-width: 100px;
}
